
.home > .main{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    position: relative;
}

.home .navbar{
    position: sticky;
    z-index: 4;
    top: 0;
}

.home .gap{
    width: 100%;
    height: 300px;
    background-color: white;
}

.home .services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    justify-items: center;
}

.home .services > .details-container{
    margin: 150px 50px;
}

.home .services > .details-container > .details{
    display: grid;
    grid-template-rows: .5fr 1fr;
    justify-content: space-between;
    border-left: 1px solid black;
}

.home .services > .details-container > .details > span{
    font-size: 14px;
    letter-spacing: 2px;
    padding: 0 50px;
}

.home .services > .details-container > .details > p{
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 45px;
    padding: 0 50px;
    width: 340px;
    border-left: 3px solid black;
}

.home .autono-div{
    position: relative;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.home .autono-div > img{
    width: 1522px;
    height: 880px;
    object-fit: cover;
    object-position: 100% 50%;
    transform: translateZ(-20px) scale(3.1);
    z-index: -1;
}

.home .autono-div > .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    
}

.home  .autono-div > .content > .details-container{
    padding: 2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.home .autono-div > .content > .details-container > .details{
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    gap: 30px;
    border-left: 1px solid white;
    
}

.home .autono-div > .content .details > .title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

.home .autono-div > .content .details > .title > span{
    font-size: 14px;
    letter-spacing: 2px;
    padding: 0 50px;
}

.home .autono-div > .content .details > .title > p{
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 45px;
    padding: 0 50px;
    border-left: 3px solid white;
}

.home .autono-div > .content .details > .info{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    width: 350px;
    align-self: flex-end;
    padding: 0 50px;
}

.home .autono-div > .content .details .s-btn{
    margin: 0 50px;
}

.home .autono-metrics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    align-items: center;
    gap: 20px;
}

.home .autono-metrics > img{
    width: 761px;
    height: 760px;
    object-fit: cover;
    object-position: 100% 50%;
}

.home .autono-metrics > .metrics-div{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.home .autono-metrics > .metrics-div > span{
    line-height: 20px;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 100;
}

.home .autono-metrics > .metrics-div > .metrics-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    column-gap: 30px;
    justify-items: start;
}

.home .autono-metrics > .metrics-div > .metrics-container > .metrics{
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-width: 200px;
}

.home .autono-metrics > .metrics-div > .metrics-container > .metrics > .number{
    border-bottom: 1px solid black;
    padding: 1rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.home .autono-metrics > .metrics-div > .metrics-container > .metrics > .number::after{
    content: " ";
    height: 2px;
    width: 25px;
    color: black;
    background-color: black;
    position: absolute;
    bottom: 0;
}

.home .autono-metrics > .metrics-div > .metrics-container > .metrics > .number span{
    letter-spacing: 4px;
    font-size: 40px;
}

.home .autono-metrics > .metrics-div > .metrics-container > .metrics > p{
    align-self: center;
}

.home .vision.industry .details > .title{
    width: 280px;
}

.home .vision.industry > .sponsors{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 50px;
    justify-items: center;
    color: white;
    align-items: center;
    margin: 30px 0;
    align-content: center;
}

.home .vision.industry > .sponsors > .sponsor{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
    align-items: center;
    justify-items: center;
}

.home .vision.industry > .sponsors > .sponsor img{
    width: 128px;
    height: 64px;
    object-fit: cover;
    object-position: 50% 50%;
}

.home .vision.industry > .sponsors > .sponsor > span{
    line-height: 10px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}

.home .careers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
    align-content: center;
    justify-items: center;
    border-top: 1px solid white;
    background-color: black;
    color: white;
}

.home .careers > .details-container{
    color: white;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.home .careers > .details-container > .details{
    border-left: 1px solid white;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
    justify-content: center;
}

.home .careers > .details-container > .details::before{
    content: "";
    width: 3px;
    height: 60%;
    background-color: white;
    color: white;
    position: absolute;
    left: 0;
}

.home .careers > .details-container > .details > p{
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 45px;
    width: 350px;
}

.home .careers > .details-container > .details > span{
    font-size: 14px;
    letter-spacing: 2px;
}

.card-container .card .para{
 
    margin-top: 20px;
    line-height: 30px;
    margin-bottom: 70px;
   
}

.subheading{
    margin-top: 60px;
    color: rgb(180,180,180);

}
 /* .card{
 width: 300px;
} */

.card-container{
    color: white;
    margin: 50px;
    display: flex;
    justify-content: center;
    border:2px solid white;
     padding: 60px 40px; 
   width: 336px;
   height: 400px;
    border-radius: 14px;
    
}
.card-container .card ul{
    display: flex;
   justify-content: center;
   margin-top: 20px;
   align-self: center;
   
}
.card-container .card ul span{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: aliceblue;
    margin:12px;
    cursor: pointer;

   /* display: flex;
   justify-self: center; */
}

    /* border:2px;
    border-radius: 5px;
} */