.navbar{
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    justify-content: space-between;
    /* background: transparent; */
    background-color: white;
}

.navbar > .left > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 8px;
}

.navbar > .center{
    display: flex;
    gap: 20px;
}

.navbar .right{
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .right img{
    width: 40px;
    border-radius: 50%;
}