.home .hero{
    position: relative;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
    height: 100vh;
}

.home .hero video{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    transform: translateZ(-8px) scale(1.81);
    z-index: -1;
}

.home .hero .content{
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
}

.home .hero .content .titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    translate: 0 25%;
    margin-top: 5rem;
    gap: 15px;
    z-index: 4;
}

.home .hero .splide{
    z-index: 1;
}

.home .hero .splide.is-focus-in .splide__arrow:focus{
    outline-offset: 10px;
}

.home .hero button.splide__arrow{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
}

.home .hero button.splide__arrow > span{
    font-size: 50px;
}

.home .hero .splide__track{
    height: 100%;
}

.home .hero .content .titles > .title{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.home .hero .content .titles > .subtitle{
    line-height: 1.8em;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
}

.home .hero .content > .cover{
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .9), rgba(0, 0, 0, 1));
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
}

.home .hero .content > .cover > .btns{
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 15px;
}